.vaccination-by-coverage-heading {
  color: #cbd5e1;
  text-align: left;
  margin-bottom: 15px;
  margin-left: 10px;
}

.box1 {
  background-color: #1c1c2b;
  width: 90vw;
  padding: 20px;
  border-radius: 15px;
  margin: 10px;
}
